    :root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --acent-text-color: #2196f3;
    --header-text-color: #ffffff;
    --logo-text-color: #000000;
    --footer-background: #2f303a;
    --background-bootun: #f5f4fa;
    --footer-nav-text: 255, 255, 255;
    --button-border: #ECECEC;
    --section-color: #F5F4FA;
    }
        
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .decoration {
    text-decoration: none;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: 0;
    }

    body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-style: normal;
    }
    
    .img {
    display: block;
    max-width: 100%;
    height: auto;
    }

    .container{
        width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Шапка макета */
    .header-container{
        display: flex;
    }

    .nav-flex{
        display: flex;
         align-items: center;
    }

     .site-nav{
     display: flex;
    }

    .li-site-nav:not(:last-child){
        margin-right: 50px;
        
    }
     
    .auht-nav{
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .li-site-nav:not(:last-child){
        margin-right: 50px;
    }
    .decoration.current {
    color: var(--acent-text-color);
    }

    .logo {  
    color: var(--logo-text-color);
    margin-right: 50px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }
    
    .web {
    color: var(--acent-text-color);
    }
 
    .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }

    .auht-nav .nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }

    .auht-nav .li-auht + .li-auht{
    margin-left: 50px;
    }

    .site-nav .link:hover,
    .site-nav .link:focus {
    color: var(--acent-text-color);
    }
    
    .auht-nav .nav:hover,
    .auht-nav .nav:focus {
    color: var(--acent-text-color);
    }

    .site-nav .link.current{
        color: var(--acent-text-color)
    }

    /* блок герой */
    .main-title {
        height: 600px;
    background-color: var(--footer-background);
    }

    .title-text {

      max-width: 696px;
    margin-bottom: 30px;  
    text-align: center;

    color: var(--header-text-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }

    .hero-buton {
    display: block;

    align-items: center;
    text-align: center;

    background-color: var(--acent-text-color);
    color: var(--header-text-color);

    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2; 
    letter-spacing: 0.06em;
    }
    /* Блок наша особенность */
    .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    }
    .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    }

    .subtitle-list {
    margin-bottom: 10px; 

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    /* text-transform: uppercase; */
    }

    .text {
    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    }
    /* <!-- Наша команда --> */
    

    .section.color{
    margin-top: 39px;
    margin-bottom: 55px;
    background-color: var(--section-color);
    }
    .subtitle-name {
    margin-bottom: 10px; 

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    }

    .profeshion-text {
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    }
    /* футер */
    /* .web .text-studio{
      margin-top: 60px;  
      margin-bottom: 20px;
    } */
    .footer {
    background-color: var(--footer-background);
    }
    .text-studio {
    color: var(--background-bootun);
    }
    .adres {
    color: var(--header-text-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    }

    .auht-nav .footer {
    color: rgba(var(--footer-nav-text), 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    }
    
     /* портфолио */
    .portfolio-button,
    .portfolio-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .button-text {
    border: 1px solid var(--button-border);
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;

    background-color: var(--background-bootun);
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.03em;
    
    }
    .button-text:hover,
    .button-text:focus {
    background-color: var(--acent-text-color);
    color: var(--header-text-color);
    cursor: pointer;
    }
    .portfolio-title {
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
    .text-portfolio {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    }
